.button {
  display: inline-block;
  height: auto;
  padding: 0.75rem 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
}

.button-primary {
  background-color: var(--color-3);
  color: var(--color-4);
  border: solid 2px var(--color-3);
}

.button-secondary {
  border: solid 2px var(--color-2);
  background-color: var(--color-1);
  color: var(--color-2);
}

.button-product-out {
  background-color: var(--color-red-light);
  color: var(--color-red-dark);
}

.button-product-in {
  background-color: var(--color-green-dark);
  color: var(--color-green-light);
}

.button-tertiary {
  color: var(--color-1);
  background-color: var(--color-2);
}

.button-fourthy {
  background-color: var(--color-1);
  color: var(--color-2);
}

.button-delete {
  background-color: var(--color-red-dark);
  color: var(--color-red-light);
}

.button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.button-width-5 {
  width: 5rem;
}

.button-width-6 {
  width: 6rem;
}

.button-width-75 {
  width: 7.5rem;
}

.button-width-10 {
  width: 10rem;
}

.font-weight-700 {
  font-size: 1.75rem;
}

.font-size-075 {
  font-size: 0.75rem;
}
