.page-new-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  gap: 1rem;
  margin-top: 1rem;
}

.productform {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-2);
  gap: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 640px;
}

.productform h1 {
  color: var(--color-1);
  text-align: center;
  letter-spacing: 1.5px;
}

.form-control-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control-2 input,
select {
  width: 45%;
}

.productform input {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-1);
  color: var(--color-2);
  border: none;
}

.productform input::placeholder {
  font-size: 1rem;
  padding: 10px 5px;
  background-color: var(--color-1);
  color: var(--color-2);
}

.productform input:focus {
  outline: 2px solid var(--color-f1af71);
}

.productform select {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: var(--color-1);
  color: var(--color-2);
  border: none;
  font-size: 1rem;
}

.productform select option {
  font-size: 1rem;
  padding: 10px;
  color: var(--color-2);
}
