.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.header-info > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-info p {
  font-weight: 700;
  letter-spacing: 1.25px;
}

.header-info span {
  background: var(--color-2);
  color: var(--color-1);
  padding: 3px 9px;
  border-radius: 999px;
  font-weight: 700;
}
